.navbar {
  background-color: rgb(140, 156, 73);
}
.navbar-toggler {
  border: none;
}
.navbar-toggler i {
  color: black;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: rgb(224, 229, 220);
}

.jumbotron {
  background-image: url(img/panadero.jpg);
  background-size: cover;
  background-color: center;
  color: black;
  text-shadow: 0 0 5px #333;
  border-radius: 0;
  margin-bottom: 0;
  height: 350px;
}

.btn-warning {
  background-color: rgb(85, 160, 44);
}
.btn-warning:hover {
  background-color: yellow;
}

h2 {
  background-color: rgb(140, 156, 73);
  color: white;
  border-color: black;
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}

.section {
  display: flex;
  justify-content: center;
  background-color: rgb(140, 156, 73);
  gap: 100px;
}

.card {
  height: auto;
  background-color: rgb(140, 156, 73);
  color: white;
  padding: 20px;
  border: 3px solid black;
}
.card__img {
  height: 150px;
  background-image: url(img/cortando\ arbusto.jpg);
  background-size: cover;
  background-position: center;
}
.card__img1 {
  height: 150px;
  background-image: url(img/cortando\ pasto.jpg);
  background-size: cover;
  background-position: center;
}
.card__img2 {
  height: 150px;
  background-image: url(img/camino.jpg);
  background-size: cover;
  background-position: center;
}
.card__img--img1 {
  background-image: url();
  border: 3px solid #fff;
  height: 300px;
}
.card__title {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}
.card__desc {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  text-align: justify;
  margin-bottom: 15px;
}
.card__boton {
  color: #fff;
  text-decoration: none;
  background-color: rgb(179, 199, 168);
  text-shadow: 0 0 5px black;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
}
.card__boton:hover {
  background-color: black;
}
.card__boton--md {
  background-color: rgb(0, 255, 26);
  text-transform: uppercase black;
}
.card--md {
  width: 100%;
}

.relleno {
  background-image: url(img/celeste\ cielo.jpg);
  background-size: cover;
}
.relleno form {
  height: auto;
  margin: auto;
  border-radius: 5px;
  font-size: 100%;
  color: #696969;
  padding: 0.5rem;
  width: 100%;
  box-sizing: inherit;
}

.item {
  background-image: url(img/celeste\ cielo.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  border: 3px solid rgb(179, 199, 168);
}
.item1 {
  background-image: url(logos/cencosud.jpeg);
  background-size: auto;
}
.item2 {
  background-image: url(logos/coto.jpeg);
  background-size: auto;
}
.item3 {
  background-image: url(logos/easy.jpeg);
  background-size: auto;
}
.item4 {
  background-image: url(logos/novartis.jpeg);
  background-size: auto;
}
.item5 {
  background-image: url(logos/sodexo.jpeg);
  background-size: auto;
}
.item6 {
  background-image: url(logos/ypf.jpeg);
  background-size: center;
}
.item7 {
  background-image: url(logos/quilmes.jpeg);
  background-size: auto;
}
.item8 {
  background-image: url(logos/granix.jpg);
  background-size: auto;
}
.item9 {
  background-image: url(logos/jumbo.jpg);
  background-size: auto;
}

.servicio {
  text-align: center;
}

.form {
  height: auto;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 100%;
  color: #696969;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
  color: rgb(179, 199, 168);
}

.footer {
  background-color: rgb(140, 156, 73);
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.footer ul {
  list-style: none;
}

footer i {
  background-position: center;
  color: rgb(179, 199, 168);
  font-size: 40px;
  letter-spacing: 30px;
  margin-bottom: auto;
}

/*# sourceMappingURL=style.css.map */
